* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cursive;
}

.carousel-item {
    height: 20vh;
}

header {
    min-height: 8vh;
}

main {
    min-height: 84vh;
}

div>h5,
div>p {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

div>.submit {
    margin-top: 1rem;
    margin-left: 12rem;
    background-color: rgb(156, 7, 64);
    border: none;
    font-weight: bold;
}

.card{
    border: black !important;
}

footer {
    min-height: 8vh;
}